config simman core
        option enabled  '1'
                option only_first_sim '0'
                option retry_num '3'
                option check_period '60'
                option delay '6000'
                option testip '8.8.8.8 8.8.4.4'
                option atdevice '/dev/ttyGSM1'
                option gpsdevice ''
                option iface 'wwan0'
                option sw_before_modres '3'
                option sw_before_sysres '0'
                option sim ''
                option imei 'NONE'
                option ccid 'NONE'
                option proto '0'
                option pwrkey_gpio_pin '105'
                option gsmpow_gpio_pin '83'
                option simdet_gpio_pin '78'
                option simaddr_gpio_pin '82'
                option simdet0_gpio_pin '79'
                option simdet1_gpio_pin '104'
                option csq_level '0'
                
config simman info
                option atdevice '/dev/ttyGSM2'
                option sim 'NONE'
                option imei 'NONE'
                option ccid 'NONE'
                option pincode_stat 'NONE'
                option sig_lev 'NONE'
                option reg_stat 'NONE'
                option base_st_id 'NONE'
                option base_st_bw 'NONE'
                option net_type 'NONE'
                option gprs_reg_stat 'NONE'
                option pack_type 'NONE'

config sim0
                option priority '1'
                option pin ''
                option GPRS_user ''
                option GPRS_pass ''
                option GPRS_apn 'internet'
                option testip ''

config sim1
                option priority '0'
                option pin ''
                option GPRS_user ''
                option GPRS_pass ''
                option GPRS_apn 'internet'
                option testip ''

config nbiot
